.auth {
  position: relative;
  background: #FFF;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  padding: 1em;
  border-radius: 3px;
  border: 1px solid rgba(34, 36, 38, 0.15);
  background-color: #FBFBFB;
  width: 400px;
  margin: 50px auto;
  display: table;
}
@media (max-width: 420px) {
  .auth {
    width: 320px;
  }
}
.auth .alert {
  box-shadow: 0 0 0 1px #C9BA9B inset, 0 0 0 0 transparent;
  background-color: #FFDACE;
  padding: 15px;
}
.auth .auth-form label {
  position: absolute;
  left: 13px;
  background-color: #E8E8E8;
  padding: .8em .833em;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 700;
  border: 0 solid transparent;
  border-radius: .28571429rem;
  -webkit-transition: background .1s ease;
  transition: background .1s ease;
}
.auth .auth-form input {
  width: 88% !important;
  display: inline-block;
}
