.sidbar {
  width: 355px;
  height: 100vh;
  background-color: #483d8b;
  float: right;
  position: fixed;
}
.sidbar .chat-items {
  position: relative;
}
.sidbar .chat-items ul {
  padding: 0;
  list-style: none;
  display: flex;
}
.sidbar .chat-items ul li {
  margin-right: 9%;
}
.sidbar .chat-items ul li a {
  display: block;
}
.sidbar .chat-items ul li i {
  font-size: 2em;
}
.sidbar .chat-items ul li small,
.sidbar .chat-items ul li i {
  color: #9e9e9e;
}
.sidbar .chat-items ul li.active i,
.sidbar .chat-items ul li:hover i,
.sidbar .chat-items ul li.active small,
.sidbar .chat-items ul li:hover small {
  color: #ffffff;
}
.sidbar .chat-items ul li button {
  display: block;
  border: none;
  text-decoration: none;
  background: none;
  text-align: right;
  -moz-appearance: none;
}
.sidbar-contents {
  width: 100%;
  height: auto;
  padding-bottom: 30px;
}
.sidbar-contents ul {
  height: 55vh;
  overflow-y: scroll;
  scrollbar-width: none;
}
.sidbar-contents ul::-webkit-scrollbar {
  display: none;
}
.sidbar-contents ul::-moz-scrollbar {
  display: none;
}
.sidbar-contents ul::-webkit-scrollbar {
  width: 0 !important;
}
.profile {
  display: flex;
}
.profile .profile-img {
  position: relative;
}
.profile .profile-img img {
  border-radius: 50%;
}
.profile .profile-img .circled {
  position: absolute;
  bottom: -6px;
  left: 7px;
}
.profile .profile-img .circled.success i {
  color: #16da16;
}
